# DJANGO APPLICATION CONFIG
# ---------------------------------
DEBUG=1
SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost 0.0.0.0 127.0.0.1 [::1]

# POSTGRESQL SERVER CONFIG
# ---------------------------------
POSTGRES_DB=ubereats
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_SCHEMA=public
